<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Nerglish Translator" />
    <link rel="manifest" href="static/manifest.json" />
    <title>Nerglish Translator</title>
    <script defer="defer" src="/./static/js/runtime.2b5ee81d.js"></script>
    <script defer="defer" src="/./static/js/576.2b5ee81d.js"></script>
    <script defer="defer" src="/./static/js/index.2b5ee81d.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>